node-red/flows.json
[{"id":"55145007.765a","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"8ee81c7.101abe","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"15be5992.62dc26","type":"server","z":"","name":"Home Assistant"},{"id":"b20f0662.74a488","type":"stoptimer","z":"55145007.765a","duration":"0","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"New Poll","x":375,"y":221,"wires":[["dfdc0892.4b0328","f41b7293.5acb2","c9759faa.ee898"],[]]},{"id":"818802c7.92f1a","type":"server-state-changed","z":"55145007.765a","name":"Bathroom Motion","server":"15be5992.62dc26","entityidfilter":"sensor.bathroom_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"inactive","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":157,"y":95,"wires":[["f983ab5b.9e07a8","db43e9a5.899998","b2579f87.e1f42"],[]]},{"id":"dfdc0892.4b0328","type":"api-current-state","z":"55145007.765a","name":"Bathroom Motion On?","server":"15be5992.62dc26","halt_if":"inactive","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.bathroom_motion","state_type":"str","outputs":2,"x":157,"y":155,"wires":[["db43e9a5.899998"],[]]},{"id":"f41b7293.5acb2","type":"api-current-state","z":"55145007.765a","name":"Shower Motion On?","server":"15be5992.62dc26","halt_if":"inactive","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.bathroom_multi_motion","state_type":"str","outputs":2,"x":160,"y":220,"wires":[["db43e9a5.899998"],[]]},{"id":"db43e9a5.899998","type":"stoptimer","z":"55145007.765a","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 Mins","x":367,"y":135,"wires":[["b2f9b124.b3ec7"],["b20f0662.74a488"]]},{"id":"b2f9b124.b3ec7","type":"api-current-state","z":"55145007.765a","name":"Bathroom Motion Off?","server":"15be5992.62dc26","halt_if":"active","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.bathroom_motion","state_type":"str","outputs":2,"x":595,"y":121,"wires":[["ce7cb487.32fd18"],[]]},{"id":"ce7cb487.32fd18","type":"api-current-state","z":"55145007.765a","name":"Shower Motion Off?","server":"15be5992.62dc26","halt_if":"active","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.bathroom_multi_motion","state_type":"str","outputs":2,"x":595,"y":201,"wires":[["f5afc3da.082dd"],[]]},{"id":"f983ab5b.9e07a8","type":"api-call-service","z":"55145007.765a","name":"Bathroom Lights On","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.bathroom_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":397,"y":75,"wires":[[]]},{"id":"f5afc3da.082dd","type":"api-call-service","z":"55145007.765a","name":"Bathroom Lights Off","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.bathroom_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":817,"y":175,"wires":[[]]},{"id":"6d0534e4.3850cc","type":"comment","z":"55145007.765a","name":"Bathroom Lights based on motion sensors","info":"","x":200,"y":28,"wires":[]},{"id":"c9759faa.ee898","type":"debug","z":"55145007.765a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":380,"y":280,"wires":[]},{"id":"6cbc7ae4.931994","type":"server-state-changed","z":"8ee81c7.101abe","name":"Away?","server":"15be5992.62dc26","entityidfilter":"device_tracker.michaels_iphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":90,"y":80,"wires":[["1cf8017b.b7159f","83fae7f5.ad1f08"],[]]},{"id":"1cf8017b.b7159f","type":"time-range-switch","z":"8ee81c7.101abe","name":"630a-3p","lat":"","lon":"","startTime":"06:30","endTime":"15:00","startOffset":0,"endOffset":0,"x":260,"y":80,"wires":[["8fb7302a.5371c"],[]]},{"id":"8fb7302a.5371c","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn off Lights","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":60,"wires":[[]]},{"id":"28046ad0.b14d66","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn on Corners","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.right_side_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":131,"wires":[[]]},{"id":"eb83e0e2.a5606","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn off Lights","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":131,"wires":[["28046ad0.b14d66"]]},{"id":"83fae7f5.ad1f08","type":"time-range-switch","z":"8ee81c7.101abe","name":"5p-midnight","lat":"","lon":"","startTime":"17:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":270,"y":131,"wires":[["eb83e0e2.a5606"],[]]},{"id":"76ec82ed.e74dac","type":"server-state-changed","z":"8ee81c7.101abe","name":"Home?","server":"15be5992.62dc26","entityidfilter":"device_tracker.michaels_iphone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"away","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":90,"y":220,"wires":[["a60020b9.c6e68","6e59a9f2.f5aff8"],[]]},{"id":"a60020b9.c6e68","type":"api-call-service","z":"8ee81c7.101abe","name":"Entrance","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":180,"wires":[[]]},{"id":"6e59a9f2.f5aff8","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn on Corners","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.right_side_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":280,"y":240,"wires":[[]]},{"id":"b2579f87.e1f42","type":"api-call-service","z":"55145007.765a","name":"sdsdsd","server":"15be5992.62dc26","service_domain":"notify","service":"ios_michaels_iphone","data":"{\"message\":\"hello\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":280,"wires":[[]]}]