node-red/flows.json
[{"id":"55145007.765a","type":"tab","label":"Lighting vs Motion","disabled":false,"info":""},{"id":"8ee81c7.101abe","type":"tab","label":"Entry / Exit","disabled":false,"info":""},{"id":"15be5992.62dc26","type":"server","z":"","name":"Home Assistant"},{"id":"b20f0662.74a488","type":"stoptimer","z":"55145007.765a","duration":"0","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"New Poll","x":460,"y":340,"wires":[["dfdc0892.4b0328","f41b7293.5acb2"],[]]},{"id":"818802c7.92f1a","type":"server-state-changed","z":"55145007.765a","name":"Bathroom Motion","server":"15be5992.62dc26","entityidfilter":"binary_sensor.bathroom_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":185,"y":119,"wires":[["f983ab5b.9e07a8","db43e9a5.899998"],[]]},{"id":"dfdc0892.4b0328","type":"api-current-state","z":"55145007.765a","name":"Bathroom Motion On?","server":"15be5992.62dc26","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.bathroom_motion_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":220,"wires":[["db43e9a5.899998"],[]]},{"id":"f41b7293.5acb2","type":"api-current-state","z":"55145007.765a","name":"Shower Motion On?","server":"15be5992.62dc26","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.shower_motion_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":183,"y":285,"wires":[["db43e9a5.899998"],[]]},{"id":"db43e9a5.899998","type":"stoptimer","z":"55145007.765a","duration":"1.5","units":"Minute","payloadtype":"num","payloadval":"0","name":"1.5 Mins","x":482,"y":214,"wires":[["b2f9b124.b3ec7"],["b20f0662.74a488"]]},{"id":"b2f9b124.b3ec7","type":"api-current-state","z":"55145007.765a","name":"Bathroom Motion Off?","server":"15be5992.62dc26","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.bathroom_motion_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":200,"wires":[["ce7cb487.32fd18"],[]]},{"id":"ce7cb487.32fd18","type":"api-current-state","z":"55145007.765a","name":"Shower Motion Off?","server":"15be5992.62dc26","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.shower_motion_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":280,"wires":[["f5afc3da.082dd"],[]]},{"id":"f983ab5b.9e07a8","type":"api-call-service","z":"55145007.765a","name":"Bathroom Lights On","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bathroom_center, light.bathroom_left, light.bathroom_right\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":100,"wires":[[]]},{"id":"f5afc3da.082dd","type":"api-call-service","z":"55145007.765a","name":"Bathroom Lights Off","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bathroom_center, light.bathroom_left, light.bathroom_right\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":960,"y":280,"wires":[[]]},{"id":"6d0534e4.3850cc","type":"comment","z":"55145007.765a","name":"Bathroom Lights based on motion sensors","info":"","x":200,"y":28,"wires":[]},{"id":"6cbc7ae4.931994","type":"server-state-changed","z":"8ee81c7.101abe","name":"Away?","server":"15be5992.62dc26","entityidfilter":"device_tracker.mikes_iphone_xs_beta","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":80,"wires":[["1cf8017b.b7159f","83fae7f5.ad1f08"],[]]},{"id":"1cf8017b.b7159f","type":"time-range-switch","z":"8ee81c7.101abe","name":"630a-3p","lat":"","lon":"","startTime":"06:30","endTime":"15:00","startOffset":0,"endOffset":0,"x":260,"y":80,"wires":[["8fb7302a.5371c"],[]]},{"id":"8fb7302a.5371c","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn off Lights","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":60,"wires":[[]]},{"id":"28046ad0.b14d66","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn on Corners","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.right_side_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":131,"wires":[[]]},{"id":"eb83e0e2.a5606","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn off Lights","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":131,"wires":[["28046ad0.b14d66"]]},{"id":"83fae7f5.ad1f08","type":"time-range-switch","z":"8ee81c7.101abe","name":"5p-midnight","lat":"","lon":"","startTime":"17:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":270,"y":131,"wires":[["eb83e0e2.a5606"],[]]},{"id":"76ec82ed.e74dac","type":"server-state-changed","z":"8ee81c7.101abe","name":"Home?","server":"15be5992.62dc26","entityidfilter":"device_tracker.mikes_iphone_xs_beta","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":220,"wires":[["a60020b9.c6e68","6e59a9f2.f5aff8"],[]]},{"id":"a60020b9.c6e68","type":"api-call-service","z":"8ee81c7.101abe","name":"Entrance","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":180,"wires":[[]]},{"id":"6e59a9f2.f5aff8","type":"api-call-service","z":"8ee81c7.101abe","name":"Turn on Corners","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.right_side_lights\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":280,"y":240,"wires":[[]]},{"id":"cf1265e3.277078","type":"comment","z":"55145007.765a","name":"Poll for 1.5 mins","info":"","x":481,"y":166,"wires":[]},{"id":"f9d13c19.e36ea","type":"comment","z":"55145007.765a","name":"Bathroom && Shower","info":"","x":700,"y":160,"wires":[]},{"id":"7904fa69.676014","type":"comment","z":"55145007.765a","name":"Bathroom || Shower","info":"","x":170,"y":180,"wires":[]},{"id":"a75bdf1.962fb2","type":"comment","z":"55145007.765a","name":"Restart Poll to verify","info":"","x":450,"y":280,"wires":[]},{"id":"b314b399.d8b26","type":"stoptimer","z":"55145007.765a","duration":"0","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"New Poll","x":520,"y":760,"wires":[["f7e0429b.e9ac6","860160f2.446d9"],[]]},{"id":"f7e0429b.e9ac6","type":"api-current-state","z":"55145007.765a","name":"Bedroom Motion On?","server":"15be5992.62dc26","outputs":2,"halt_if":"inactive","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.bedroom_multi_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":685,"wires":[["d17aa941.65ed48"],[]]},{"id":"860160f2.446d9","type":"api-current-state","z":"55145007.765a","name":"Side Motion On?","server":"15be5992.62dc26","outputs":2,"halt_if":"inactive","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.bedroom_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":233,"y":750,"wires":[["d17aa941.65ed48"],[]]},{"id":"d17aa941.65ed48","type":"stoptimer","z":"55145007.765a","duration":"1.5","units":"Minute","payloadtype":"num","payloadval":"0","name":"1.5 Mins","x":542,"y":634,"wires":[["b531fdc4.df0df"],["b314b399.d8b26"]]},{"id":"b531fdc4.df0df","type":"api-current-state","z":"55145007.765a","name":"Entrance Motion Off?","server":"15be5992.62dc26","outputs":2,"halt_if":"active","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.bedroom_multi_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":620,"wires":[["56cb9665.ab1638"],[]]},{"id":"56cb9665.ab1638","type":"api-current-state","z":"55145007.765a","name":"Side Motion Off?","server":"15be5992.62dc26","outputs":2,"halt_if":"active","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.bedroom_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":700,"wires":[["51181a13.74d304"],[]]},{"id":"eb155db.87edca","type":"api-call-service","z":"55145007.765a","name":"Bedroom Lights On","server":"15be5992.62dc26","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bed_left, light.bed_right, light.bedroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":520,"wires":[[]]},{"id":"51181a13.74d304","type":"api-call-service","z":"55145007.765a","name":"Bathroom Lights Off","server":"15be5992.62dc26","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bed_left, light.bed_right, light.bedroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":700,"wires":[[]]},{"id":"ee639b63.a79338","type":"comment","z":"55145007.765a","name":"Bedroom Lights based on motion sensors","info":"","x":220,"y":423,"wires":[]},{"id":"ea7d9eaa.22031","type":"comment","z":"55145007.765a","name":"Poll for 1.5 mins","info":"","x":541,"y":586,"wires":[]},{"id":"b0c301f.19639","type":"comment","z":"55145007.765a","name":"Side && Entrance","info":"","x":740,"y":580,"wires":[]},{"id":"f8882c33.fb5c4","type":"comment","z":"55145007.765a","name":"Side || Entrance","info":"","x":220,"y":645,"wires":[]},{"id":"f5e91fa.a689be","type":"comment","z":"55145007.765a","name":"Restart Poll to verify","info":"","x":510,"y":700,"wires":[]},{"id":"66492dbf.05b9d4","type":"comment","z":"55145007.765a","name":"Bathroom Motion","info":"","x":180,"y":80,"wires":[]},{"id":"a13beaf8.597428","type":"comment","z":"55145007.765a","name":"Entrance Motion","info":"","x":200,"y":468,"wires":[]},{"id":"aacb211d.4158f","type":"time-range-switch","z":"55145007.765a","name":"","lat":"38.88375","lon":"-77.0853","startTime":"08:00","endTime":"20:30","startOffset":0,"endOffset":0,"x":290,"y":560,"wires":[["eb155db.87edca","d17aa941.65ed48"],[]]}]